@font-face {
    font-family: Minecraft;
    src: url(public/mc.ttf) format(truetype);
}

:root {
    --shadow-color: #3f3f3f;
}

* {
    text-shadow: 0.125em 0.125em var(--shadow-color);
}

body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 6em;
    margin: 8em auto;

    font-family: Minecraft, sans-serif;
    color: #fff;

    image-rendering: crisp-edges;
    image-rendering: pixelated;
    -webkit-font-smoothing: none;

    background: linear-gradient(#000a, #000a), url(public/stone.png);
    background-size: 16em;

    font-size: 4px;
}

body > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6em;
}

h1,
h2 {
    font-size: 8em;

    font-weight: normal;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;

    box-sizing: content-box;
    border-image: url(public/gui.png) 4 fill / 4em;
    image-rendering: pixelated;

    padding: 7em;

    color: #404040;
    --shadow-color: transparent;

    > h1:first-child {
        margin-top: -0.25em;
        margin-bottom: 0.25em;
    }

    > h1:not(:first-child) {
        margin-top: 0.25em;
        margin-bottom: 0.25em;
    }

    > h1:last-child {
        margin-bottom: 0;
    }

    &.center > h1 {
        text-align: center;
    }
}

.items {
    display: flex;
    flex-wrap: wrap;
    width: 9 * 18em;

    .item,
    .enchantment,
    .action {
        position: relative;

        box-sizing: content-box;
        border-image: url(public/slot.png) 1 fill / 1em;
        padding: 1em;

        > span {
            transition: transform 0.4s;
        }

        &:is(:not(.selected):hover, .selected:not(:hover))::after {
            content: '';
            display: block;
            position: absolute;
            inset: 1em;

            background-color: #ffffff80;
        }
    }
}

.anvil {
    justify-content: center;

    > :nth-child(2) {
        width: 31em;
        height: 18em;

        background: url(public/plus.png);
        background-size: cover;
    }

    > :nth-child(4) {
        width: 40em;
        height: 18em;

        background: url(public/becomes.png);
        background-size: cover;
    }

    + span {
        align-self: flex-end;
        font-size: 8em;
        margin: 0.25em 0.125em;
    }
}

#enchantments {
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    > div {
        padding: 1em;

        cursor: pointer;

        &.selected {
            background-color: #0008;
        }
    }
}

footer {
    position: fixed;
    bottom: 1em;
    left: 50%;
    transform: translateX(-50%);

    font-size: 16px;
}

a {
    color: #5ff;
    --shadow-color: #153f3f;

    text-decoration: none;
    border-bottom: 1.5px solid #5ff;
}

.rows {
    display: flex;
    flex-direction: column;
    gap: 1em;

    > .row {
        display: flex;
        align-items: center;
        gap: 0.5em;

        > .green {
            margin-left: 1em;
        }
    }
}

.item,
.action,
.enchantment {
    display: flex;
    align-items: center;
    gap: 0.25em;

    > span {
        position: relative;

        width: 16em;
        height: 16em;

        background-image: url(public/items.png);
        background-size: 800% 800%;

        mask-image: url(public/items.png);
        mask-size: 800% 800%;
        -webkit-mask-image: url(public/items.png);
        -webkit-mask-size: 800% 800%;
    }

    .level {
        position: absolute;
        bottom: -0.125em;
        right: 0;

        font-size: 8em;
        color: #fff;
        --shadow-color: #3f3f3f;

        // fix text positioning?????
        transform: translateY(-0.8px);
    }

    &.enchanted > span {
        background-image: linear-gradient(#a5f3, #a5f3), url(public/items.png);
        background-blend-mode: color;
    }

    &.hover {
        position: relative;

        > div {
            position: absolute;
            display: none;
            z-index: 1000;
            left: 4em;

            pointer-events: none;
        }

        &:hover > div {
            display: initial;
        }
    }

    > div {
        position: relative;
        background-color: rgb(16 0 16 / 94%);
        padding: 4em;
        margin: 0 20em;

        color: #fff;
        --shadow-color: #3f3f3f;

        line-height: 1.25;
        white-space: nowrap;

        > * {
            font-size: 8em;
        }

        > :nth-child(2) {
            display: flex;
            flex-direction: column;

            color: #aaa;
            --shadow-color: #2a2a2a;
        }

        &:before,
        &:after {
            content: '';
            position: absolute;
            box-sizing: border-box;
        }

        &:before {
            border: 1em solid rgb(16 0 16 / 94%);
            // i get weird results on mobile otherwise
            border-left-width: calc(1em + 1px);
            border-right-width: calc(1em + 1px);

            // `inset: 1em -1em;` becomes `inset: 0;`
            left: -1em;
            right: -1em;
            top: 1em;
            bottom: 1em;
        }

        &:after {
            border: 1em solid #2d0a63;
            border-image: linear-gradient(
                    rgb(80 0 255 / 31%),
                    rgb(40 0 127 / 31%)
                )
                1;
            inset: 1em 0;
        }
    }

    // icons
    @mixin icon($name, $x, $y) {
        &.#{$name} > span {
            background-position: calc(-100% * $x) calc(-100% * $y);
            mask-position: calc(-100% * $x) calc(-100% * $y);
            -webkit-mask-position: calc(-100% * $x) calc(-100% * $y);
        }
    }

    @include icon(pickaxe, 1, 0);
    @include icon(axe, 2, 0);
    @include icon(shovel, 3, 0);
    @include icon(hoe, 4, 0);
    @include icon(shears, 5, 0);
    @include icon(flint-and-steel, 6, 0);
    @include icon(fishing-rod, 7, 0);
    @include icon(carrot-on-a-stick, 0, 1);
    @include icon(warped-fungus-on-a-stick, 1, 1);
    @include icon(sword, 2, 1);
    @include icon(bow, 3, 1);
    @include icon(crossbow, 4, 1);
    @include icon(trident, 5, 1);
    @include icon(helmet, 6, 1);
    @include icon(chestplate, 7, 1);
    @include icon(leggings, 0, 2);
    @include icon(boots, 1, 2);
    @include icon(shield, 2, 2);
    @include icon(elytra, 3, 2);
    @include icon(mace, 4, 2);

    @include icon(remove, 0, 7);
}

.enchantment > span {
    background-image: url(public/enchantments.png);
    background-size: 800% 800%;

    mask-image: url(public/enchantments.png);
    mask-size: 800% 800%;
    -webkit-mask-image: url(public/enchantments.png);
    -webkit-mask-size: 800% 800%;

    background-position: calc(-100% * var(--x)) calc(-100% * var(--y));
    mask-position: calc(-100% * var(--x)) calc(-100% * var(--y));
    -webkit-mask-position: calc(-100% * var(--x)) calc(-100% * var(--y));
}

.red {
    color: #f55;
    --shadow-color: #3f1515;
}

.yellow {
    color: #ff5;
    --shadow-color: #3f3f15;
}

.green {
    color: #5f5;
    --shadow-color: #153f15;
}

.green-xp {
    color: #7efc20;
    --shadow-color: #203e08;

    padding: 0.125em 0.25em;
    background-color: #898989;
}

.light-blue {
    color: #5ff;
    --shadow-color: #153f3f;
}

.blue {
    color: #55f;
    --shadow-color: #15153f;
}

.magenta {
    color: #f5f;
    --shadow-color: #3f153f;
}
